<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="mav_name" default="moa"/>
  <arg name="bag_base" default="/home/rik/data/2020_08_05_gannertshofen/estimator_development/sensors_2020-08-05-13-13-56"/>
  <arg name="record" default="false"/>
  <arg name="visualize" default="true"/>

  <group ns="$(arg mav_name)">
    <!-- Start rosbag -->
    <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="-q -r 1 --clock $(arg bag_base).bag" required="true"/>

    <!-- Estimator -->
    <node name="mav_state_estimator" pkg="mav_state_estimation" type="mav_state_estimator" clear_params="true" output="screen">
      <remap from="imu0" to="adis16448bmlz/imu/data_raw"/>
      <remap from="pos0" to="piksi/position_receiver_0/ros/pos_enu_cov"/>
      <remap from="baseline0" to="piksi/attitude_receiver_0/ros/baseline_ned"/>
      <rosparam file="$(find mav_state_estimation)/cfg/estimator.yaml"/>
    </node>

    <!-- Rosbag -->
    <group if="$(arg record)">
      <node
        pkg="rosbag"
        type="record"
        name="record"
        output="screen"
        args="--output-prefix=$(arg bag_base)_estimator
        /$(arg mav_name)/mav_state_estimator/navigation_odometry
        /$(arg mav_name)/mav_state_estimator/incremental_smoothing_odometry"/>
    </group>

    <!-- Viz -->
    <group if="$(arg visualize)">
      <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find mav_state_estimation)/cfg/rviz_config.rviz"/>
      <node name="multiplot" pkg="rqt_multiplot" type="rqt_multiplot" output="screen" args="--multiplot-config $(find mav_state_estimation)/cfg/rqt_multiplot.xml"/>
    </group>
  </group>
</launch>
